body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #6d6b6b;
    color: white;
    height: 80px;
    display: flex;
    padding-left: 40px
}

.content {
    padding: 20px;
}

.nav-button {
    color: white;
    text-decoration: none;
    background-color: #6d6b6b;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 10px;
    transition: backgrounf 0.2s;
}

.nav-button:hover {
    background-color: #007bff;
}