<!DOCTYPE html>

<html lang = "de">
    <head>
        <title>Statuschecks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>

        <div class = "top-bar">
            <br>
            <h1>AIT</h1>
        </div>

        <div class = "content">
                <div class="header-row">
                    <h2>API für Statusabfragen von Fake Shops</h2>
                    <nav class="nav-links">
                        <a href="{{ url_for('download_results') }}" class="nav-button">download csv</a>
                        <a href="{{ url_for('show_results') }}" class="nav-button">results</a>
                    </nav>
                </div>

            <p>
                Das Programm dient dazu, die Fake Shops, die auf der Watchlist 
                Internet gelistet sind auf ihren Status zu überprüfen.
                Es führt alle Tests vollautomatisch in einer konfigurierten Frequenz durch. 
                Die Statuscodes werden in Form einer csv Datei mit Zeitstemplen zurückgegebn.
                Mit "download csv" können Sie diese Datei herunterladen.
            </p>

            <p>
                In dem Bereich "results" befindet sich die Tabelle mit allen 
                Werten. Diese Seite kann dauerhaft aktualisiert werden, 
                um die neuesten Werte zu erhalten.
            </p>  
            <br>

            <img src="{{ url_for('static', filename='API-Bild.jpg') }}" alt="Super Bild" style = "border-radius: 12px; width: 100%;">
        </div>

        <div class = "bottom-bar">
            <p>Made by Jonas Sheikh: jonas.sheikh@ait.ac.at</p>
        </div>
    </body>
</html>