<!DOCTYPE html>

<html lang = "de">
    <head>
        <title>Python API</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_test.css') }}">
    </head>

    <body>
        <div class = "top-bar">
            <br>
            <h1>AIT</h1>
        </div>

        <div class = "content">
            <h1>API für Statusabfragen von Fake Shops</h1>

            <p>
                Der Websitetest wurde erfolgreich gestartet. Um die vollständige
                Abarbeitung garantieren zu können, starten Sie bitte für mindestens
                {{test_ammount}} Sekunden keinen neuen Test.
            </p>
            <br>
        
            <nav class = "nav-links">
                <a href="{{ url_for('download_results') }}" class="nav-button">download csv</a>
                <a href="{{ url_for('home') }}" class="nav-button">Home</a>
                <a href="{{ url_for('show_results') }}" class="nav-button">results</a>
            </nav>
        </div>    
    </body>
</html>
